src/java/org/ensembl/mart/explorer/XML/MartConfiguration.dtd

<!-- Entity defs start here.
     These are just shortcuts
     to save cut-and-paste -->

<!ENTITY % desc_data
  "internalName CDATA #REQUIRED
   displayName CDATA #IMPLIED
   description CDATA #IMPLIED">

<!-- Top-level Objects -->

<!ELEMENT MartConfiguration (Dataset+)>
<!ATTLIST MartConfiguration  %desc_data>
                   
<!ELEMENT Dataset (StarBase+, PrimaryKey+, FilterPage+, AttributePage+)>
<!ATTLIST Dataset  %desc_data>

<!ELEMENT StarBase (#PCDATA)>

<!ELEMENT PrimaryKey (#PCDATA)>

<!ELEMENT FilterPage (FilterGroup+)>
<!ATTLIST FilterPage %desc_data>

<!ELEMENT FilterGroup (FilterCollection+)>
<!ATTLIST FilterGroup %desc_data>

<!ELEMENT FilterCollection (UIFilterDescription+)>
<!ATTLIST FilterCollection
                   %desc_data
                    type   CDATA #REQUIRED>
                    
<!ELEMENT UIFilterDescription EMPTY>
<!ATTLIST UIFilterDescription
                   %desc_data
                   type                   CDATA #REQUIRED
                   fieldName          CDATA #REQUIRED
                   qualifier              CDATA #REQUIRED
                   tableConstraint  CDATA #IMPLIED>
                   
<!ELEMENT AttributePage (AttributeGroup+)>
<!ATTLIST AttributePage %desc_data>

<!ELEMENT AttributeGroup (AttributeCollection+)>
<!ATTLIST AttributeGroup %desc_data>

<!ELEMENT AttributeCollection (UIAttributeDescription+)>
<!ATTLIST AttributeCollection
                   %desc_data
                   type              CDATA #REQUIRED
                   maxSelect    CDATA #REQUIRED>

<!ELEMENT UIAttributeDescription EMPTY>
<!ATTLIST UIAttributeDescription
                   %desc_data
                    fieldName          CDATA #REQUIRED
                    tableConstraint  CDATA #IMPLIED
                    maxLength         CDATA #IMPLIED
                    source                CDATA #IMPLIED
                    homepageURL  CDATA #IMPLIED
                    linkoutURL          CDATA #IMPLIED>