data/XML/MartRegistry.dtd

<!ELEMENT MartRegistry (DatasetLocation+)>

<!ELEMENT DatasetViewLocation (URLLocation|DatabaseLocation)>
<!ATTLIST DatasetViewLocation internalName CDATA #REQUIRED  
                              displayName CDATA #IMPLIED    
                              dataset CDATA #REQUIRED
                              description CDATA #IMPLIED
                              locationType CDATA #REQUIRED>

<!ELEMENT URLLocation EMPTY>
<!ATTLIST URLLocation url CDATA #REQUIRED>

<!ELEMENT DatabaseLocation EMPTY>
<!ATTLIST DatabaseLocation host CDATA #REQUIRED
                           port CDATA #IMPLIED
                           databaseType CDATA #REQUIRED
                           instanceName CDATA #REQUIRED
                           user CDATA #REQUIRED
                           password CDATA #IMPLIED>
